.hidden {
    display: none;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.Encabezado {
    background: rgb(87, 24, 69);
    color: white;
    font-size: 80;
    text-align: center;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    margin: auto;
}

h2 {
    background: rgb(219, 202, 202);
    color: navy;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}


.barra-lateral{
 background:rgb(87, 24, 69); 
 position: fixed;
 height: 100%;
 width: 150px;
 margin: auto   ;
 left: 0;
 top: 80px;

}
.barra-lateral ul li{
    color: white;
    padding-bottom: 35px;
    text-align: left;
    

}
.barra-lateral li img{
    
    height: 30px;
    width: 30px;
  display: block
    
    
}

p {
    font-family: helvetica;
   
}

ul {
    font-family: helvetica;
    list-style-type: none;
    
}

button {
    display: inline-block;
    background: transparent;
    width: 35px;
    height: 20px;
}

#expand-img img {
    display: block;
    height: 13px;
    width: 10px;
}

.BotonExpander {
    background: url(./img/expand.png) no-repeat;
    cursor: pointer;
    border: none;
    margin-block-end: 0%;
    width: 35px;
    height: 35px;
    
}

#Encabezado{
     display: none;
}


table {
    overflow-wrap: break-word;
    background: white;
}

td {
    width: 25%;  
    
}
th{
    font-size: 25px;
}



body {
    padding-top: 90px;
    padding-left: 200px;
   
}