html,body{
    height: 100%;
}
body{
    background: #232020;    
    padding-top: 40px;
    padding-bottom: 40px;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
